<!DOCTYPE html>
<html lang="en">
  <head>
		<link
		href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
		rel="stylesheet"
		/>
		<link rel="stylesheet" href="/stylesheets/carrossel.css">
		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
		<title>carrossel</title>

	</head>
	<body>
		<section>
			<h2 class="barra">destaques</h2>
			<div class="wrapper">
				<div class="carousel owl-carousel">
					<% produtos.forEach(produto => { %> 
					<div class="card">
					<div class="img">
						<a href="/produtos/<%= produto.id %> "
							><img src="<%= produto.imagem %> " alt=""
						  /></a>
					</div>
					<div class="content">
					<div class="title"><a href="/produtos/<%= produto.id %> "><%= produto.nome%></a></div>
					<div class="sub-title"><a href="/produtos/<%= produto.id %> "
						><%=produto.preco.toLocaleString('pt-br',{style: 'currency', currency:
						'BRL'})%></a
					  ></div>
					<p>
						<%=produto.descricao%>
					</p>
					<div class="btn">
						<div class="btn-cm8">
						<form class="buy" action="/carrinho" method="POST">
							<a href="/carrinho">
							<input
								type="hidden"
								id="custId"
								name="id"
								value="<%=produto.id%>"
							/>
				
							<button class="icons-container" type="submit" id="mybutton-buy">
								<i class="fa fa-shopping-cart" aria-hidden="true"></i>
							</button>
							</a>
						</form>
						<form action="/favoritos" method="POST">
							<a href="/favoritos">
							<input
								type="hidden"
								id="custId"
								name="id"
								value="<%=produto.id%>"
							/>
							<button class="icons-container" type="submit" id="mybutton-fav"> 
								<i class="fa fa-heart" aria-hidden="true"></i>
							</button>
							</a>
						</form>
					</div>
					</div>
					</div>
				
					</div>
					<% }) %> 
				</div>
				
			</div>
			<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
			<script>
			$(".carousel").owlCarousel({
				margin: 20,
				loop: true,
				autoplay: true,
				autoplayTimeout: 2000,
				autoplayHoverPause: true,
				responsive: {
				0: {
					items: 1,
					nav: false,
				},
				600: {
					items: 2,
					nav: false,
				},
				1000: {
					items: 3,
					nav: false,
				},
				},
			});
			</script>
		</section>
	</body>
</html>