<div class="card">
    <div class="img-card">
      <a href="/produtos/<%= produto.id %> "><img src="<%= produto.imagem %> " alt="" /></a>
    </div>
    <div class="content">
      <div class="title"><a href="/produtos/<%= produto.id %> "><%= produto.nome%></a></div>
      <div class="sub-title"><a href="/produtos/<%= produto.id %> "><%=produto.preco.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})%></a></div>
      <p>
        <%=produto.descricao%>
      </p>
      <div class="btn">
        <form class="buy" action="" method="POST">
          <a href="/carrinho">
          <button class="icons-container" type="submit" id="mybutton-buy">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          </button>
        </a>
        <a href="/favoritos">
          <button class="icons-container" type="submit">
            <i class="fa fa-heart" aria-hidden="true"></i>
          </button>
        </a>
        </form>
      </div>
    </div>
  </div>