<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/stylesheets/usuarioInfo.css" />
    <script src="/javascripts/entrega.js"></script>
    <title>checkm8</title>
  </head>
  <body>
    <div class="usuarioInfo">
        <div class="dados-cadastro">
          <p class="titulo">Dados pessoais  <i class="fa fa-user" aria-hidden="true"></i></p>
          <div class="dado1">
            Nome: <%= user.nome %>
        </div>
          <div class="dado1">
          e-mail:<%= user.email %>  
        </div>
          <div class="dado1">
          Cpf: <%= user.cpf %>  
        </div>
          <div class="dado1">
          Telefone: <%= user.telefone %>
        </div>
      </div>
      <div class="dados-cadastro">
        <p class="titulo">Endereço de entrega  <i class="fa fa-home" aria-hidden="true"></i></p>
        <form  method="GET">
          <label for="inputState">Endereço</label>
          <select onchange="selectEnder(value)" id="inputState" class="form-control" name="categoria">
            <option selected>Selecionar Endereço...</option>
            <% enderecos.forEach(endereco => { %>
              <option  value= "<%= endereco.id %> ">
                <%= endereco.rua %>
              </option>
              <%}) %>
              </select>
          </form>
        <div class="dado1">
            Rua:  
          </div>
          <div class="dado1">
            Numero:  
          </div>
          <div class="dado1">
            Complemento:  
          </div>
          <div class="dado1">
            Cep:  
          </div>
          <div class="dado1">
            Cidade:  
          </div>
          <div class="dado1">
            Estado:  
          </div>
        </div>
      </div>
  </body>