<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/carrinho.css" />
    <script defer src="/javascripts/carrinho.js"></script>

    <title>Meu Carrinho</title>
  </head>
  <body>
    <header><%- include("./partials/header") %></header>
    <div class="container">
      <h1>Carrinho</h1>
      <% if(carrinho.items == 0){%>
        <div class="wo-car">
          <h4>  Você ainda não tem produtos adicionados ao seu carrinho. Conheça nossos <a href="/produtos">produtos</a>.</h4>
        </div>
      <%} else {%> 
      <div class="cart">
        <div class="products">
          <% carrinho.items.forEach( item => { %>
          <div class="product">
            <img src="<%= item.imagem  %> " />
            <div class="product-info">
              <h3 class="product-name"><%= item.nome %></h3>
              <h4 class="product-price">
                <%=item.preco.toLocaleString('pt-br',{style: 'currency',
                currency: 'BRL'})%>
              </h4>
              <div class= quantify-button>
              <div class="quantity">
                <form action="/carrinho" method="POST">
                  <input type="hidden" id="custId" name="id" value="<%=item.id%>"/>
                  <input type="hidden" id="quantidadeMenos" name="quantidade" value="<%=item.quantidade-1%>"/>
                  <span>Quantidade:</span>
                  <div class="quant-btn">
                  <button class="btn minus-btn <%= item.quantidade == 1 ? 'disabled' : ''%>" type="submit">
                    -
                  </button>
                </form>
                <form action="/carrinho" method="POST">
                  <input type="hidden" id="custId" name="id" value="<%=item.id%>"/>
                  <input type="hidden" id="quantidadeMais" name="quantidade" value="<%=item.quantidade+1%>"/>
                  <input
                    type="text"
                    id="quantity"
                    value="<%=item.quantidade %>"
                  />
                  <button class="btn plus-btn" type="submit">+</button>
                </div>
                </form>
              </div>
              <form action="/carrinho/removerItem" method="POST">
                <input
                  type="hidden"
                  id="custId"
                  name="id"
                  value="<%=item.id%>"
                />
                <button class="product-remove" type="submit">
                  <i class="fa fa-trash" aria-hidden="true"></i>Remover
                </button>
              </form>
            </div>
            </div>
          </div>
          <% }); %>
        </div>
        <div class="cart-total">
          <p>
            <span>Preço Total</span>
            <span
              ><%=carrinho.getTotal().toLocaleString('pt-br',{style: 'currency',
              currency: 'BRL'})%></span
            >
          </p>
          <p>
            <span>Numero de Itens</span>
            <span><%= carrinho.getTotalItems() %> </span>
          </p>
          <form action="/checkout" method="GET">
          <a href="/checkout">Prosseguir</a>
        </form>
        </div>
      </div>
      <%} %> 
    </div>
    <footer><%- include("./partials/footer") %></footer>
  </body>
</html>
