<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/carrinho.css" />
    <link rel="stylesheet" href="/stylesheets/favoritos.css" />
    <title>Favoritos</title>
    
      <script src="/javascripts/favoritos.js"></script>
  </head>
  <body>
    <header><%- include("./partials/header") %></header>
    <div class="container">
    <h1>Favoritos</h1>
    <% if(favoritos == 0){%>
      <div class="wo-fav">
        <h4>  Você ainda não tem favoritos. Conheça nossos <a href="/produtos">produtos</a>.</h4>
      
      </div>
      <%} %> 
      <div class="cart">
        <div class="products">
          <% favoritos.forEach(favorito => { %>
          <div class="product">
            <img src="<%= favorito.imagem  %> " />
            <div class="product-info">
              <h3 class="product-name"><%= favorito.nome %></h3>
              <h4 class="product-price">
                <%=favorito.preco.toLocaleString('pt-br',{style: 'currency',
                currency: 'BRL'})%>
              </h4>
              <div class="quantity">
                <form action="/favoritos" method="POST">
                  <input
                    type="hidden"
                    id="custId"
                    name="id"
                    value="<%=favorito.id%>"
                  />
              </form>
            </div>
            <form action="/carrinho">
              <input
                  type="hidden"
                  id="custId"
                  name="id"
                  value="<%=favorito.id%>"
                />
              <button class="product-buy" type="submit" id="mybutton-buy">
                <i class="fa fa-shopping-cart" aria-hidden="true">Comprar</i>
              </button>
            </form>
              <form action="/favoritos/removerfavorito" method="POST">
                <input
                  type="hidden"
                  id="custId"
                  name="id"
                  value="<%=favorito.id%>"
                />
                <button class="product-remove" type="submit">
                  <i class="fa fa-trash" aria-hidden="true"></i>Remover
                </button>
              </form>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
        
    </div>
    <footer><%- include("./partials/footer") %></footer>
  </body>
</html>