<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/status.css" />
    <title>Status do Pedido</title>
  </head>
  <body>
    <header><%- include("./partials/header") %></header>
    <div class="container-status">
      <div class="pedido-numero">
        <p>Pedido número <%= pedido.id%></p>
      </div>
      <div class="progressbar">
        <div class="progress" id="progress"></div>
        <div
          class="progress-step progress-step-active"
          data-title="recebido"
        ></div>
        <div class="progress-step" data-title="nota fiscal emitida"></div>
        <div class="progress-step" data-title="preparando envio"></div>
        <div class="progress-step" data-title="enviado"></div>
        <div class="progress-step" data-title="entregue"></div>
      </div>
      <section class="pedidos-trocas">
        <div class="pedido-detalhes">
          <p class="status">detalhes do pedido</p>
          <div class="pedidos-quantidade">
            <table class="table">
              <tr>
                <td>Nome</td>
                <td>Preço</td>
                <td>Quantidade</td>
              </tr>
              <% pedido.itens.forEach(item => { %>
                  <tr>
                    <td>
                      <%= item.nome %> 
                    </td>
                    <td>
                      <%= item.preco %> 
                    </td>
                    <td>
                      <%= item.quantidade %> 
                    </td>
                  </tr>
                  <% }); %>
                </table>
          </div>
        </div>
        <div class="contact">
          <p class="status">precisa de ajuda?</p>
          <a href="">trocar ou devolver</a>
        </div>
      </section>
    </div>
    <footer><%- include("./partials/footer") %></footer>
  </body>
</html>
