<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/stylesheets/usuario.css" />
    <title>checkm8</title>
  </head>
  <body>
    <header><%- include("./partials/header") %></header>
    <main>
      <div class="dados-pedidos">
          <div class="dados-pessoais">
          <p class="titulo">Dados pessoais  <i class="fa fa-user" aria-hidden="true"></i></p>
            <span>
            Nome: <%= user.nome %></span> 
            <span>
            e-mail:<%= user.email %></span> 
            <span>
            Cpf: <%= user.cpf %></span> 
            <span>
            Telefone: <%= user.telefone %></span>
        </div>
        <div class="dados-pessoais">
          <p class="titulo">Endereço de entrega  <i class="fa fa-home" aria-hidden="true"></i></p>
          <span> 
            Rua: <% (endereco == null) ? "cadastrar endereço" : endereco.rua %></span>
            <span>
            Numero: <% !endereco ? "sem endereço" : endereco.numero %></span>
            <span>
            Complemento: <% !endereco ? "sem endereço" : endereco.complemento %></span>
            <span>
            Cep: <% !endereco ? "sem endereço" : endereco.cep %></span>
            <span>
            Cidade: <% !endereco ? "sem endereço" : endereco.municipio %></span>
            <span>
            Estado: <% !endereco ? "sem endereço" : endereco.estado %></span>
          </div>
      <div class="dados-pessoais">
        <p class="titulo"> meus pedidos <i class="fa fa-gift" aria-hidden="true"></i>
        </p>
        <!-- <% listaDePedidos.forEach(pedido => { %> -->
          <ul>
            <li class="lista-pedidos">
              <span class="idPedido">
              Pedido: <%= pedido.id %></span>
              <span>
              Data: <%= pedido.data.toLocaleDateString('pt-br') %></span>
            </li>
        </ul>
          <!-- <% }); %> -->
        </div>
      </div>
      <div class=btns>
        <form action="/logout" method="POST">
          <button class="btn-1" type="submit">sair</button>
        </form>
        <button class="btn-1" type="submit">editar</button>
        <form action="/produtos" method="GET">
      <button class="btn-1" type="submit">prosseguir</button>
    </form>
    </main>
    <footer><%- include("./partials/footer") %></footer>
    <script>
      const utcDate = pedido.data; 
      const localDate = new Date(utcDate);
    </script>
  </body>
</html>
